.card {
  margin-top: 1em;
  height: 94vh;
  padding: 15px;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);

  .card-body {
    overflow-y: auto;
    background: #efefef;

    .close {
      position: absolute;
      border-radius: 50%;
      border: 1px solid #999;
      background: #ffffff;
      width: 1em;
      height: 1em;
      top: -10px;
      right: -10px;
      padding-left: 2px;
      line-height: 0.7em;
      cursor: pointer;
      //   background: rgba(255, 255, 255, 0.5);
    }

    .card-columns {
      .card {
        height: unset;
      }
    }
  }
}
